  /************* CSS FOR LEAP YEAR ***********/


  body {
    text-align: center;
    background: #ededdc;
  }
  h1 {
    margin-top: 50px;
  }  
  #box {
    margin-top: 60px;
    border: 3px solid #000;
    border-radius: 8px;
    padding-bottom: 45px;
    padding-top: 15px;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 15%;
    left:35%;
    background-color: #cec;
  }
  #result {
    position: relative;
    left: 119px;
    text-align: left;
    padding-left: 5px;
    margin-left: 5px;
    border: solid #c9c5c5 2px;
    background: #fff;
    width: 166px;
    height: 20px;
  } 
  #check:hover {
     font-weight: bold;	
    }
@media (max-width: 815px) {
  #box {
  left:20%;
  }

@media only screen and (max-width: 500px) {
  #box {
    left:9%;
  }